body {
  background-color: #28282c;
  color: white;
}

main hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0), rgba(204, 204, 204, 0.623), rgba(51, 51, 51, 0));
}

form {
  text-align: center;
}

header {
  background-color: #1f1f24;
}

.rtHead {
  background-color: #1f1f24;
  margin-bottom: 0;
  text-shadow: 2px 2px #000000;
}

.side-bar {
  background-color: #393a44 !important;
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  border-right: solid rgba(0, 0, 0, 0.75) 2px;
  padding: 0;
}

.button {
  background-color: #31334dd2;
  color: rgba(255, 255, 255, 0.877);
  padding: 3px;
  border: solid 2px rgba(0, 0, 0, 0.651);
  border-radius: 3px;
  text-decoration: none;
}

.button:hover {
  background-color: #31334da9;
  color: rgb(255, 255, 255);
  padding: 3px;
  border: solid 2px rgba(0, 0, 0, 0.863);
  border-radius: 3px;
  text-decoration: none;
}

.sfButton {
  background-color: #2c6d52;
  color: rgba(255, 255, 255, 0.877);
  padding: 3px;
  border: solid 2px rgba(0, 0, 0, 0.651);
  border-radius: 3px;
  text-decoration: none;
}

.sfButton:hover {
  background-color: #2c6d52de;
  color: rgb(255, 255, 255);
  padding: 3px;
  border: solid 2px rgba(0, 0, 0, 0.863);
  border-radius: 3px;
  text-decoration: none;
}

.cancelButton {
  background-color: #ff0000d2;
  color: rgba(255, 255, 255, 0.877);
  padding: 3px;
  border: solid 2px rgba(0, 0, 0, 0.651);
  border-radius: 3px;
  text-decoration: none;
}

.cancelButton:hover {
  background-color: #ff0000a9;
  color: rgb(255, 255, 255);
  padding: 3px;
  border: solid 2px rgba(0, 0, 0, 0.863);
  border-radius: 3px;
  text-decoration: none;
}

.reservations {
  display: flex;
  justify-content: center;
  margin: 0;
}

.reservationCard {
  padding: 1vw;
  border: solid rgba(255, 255, 255, 0.5) 2px;
  border-radius: 5px;
  margin: 1vw;
  background-color: #0f0f11a9;
  min-width: 25vw;
}

.tables {
  display: flex;
  justify-content: center;
  margin: 0;
}

.tableCard {
  padding: 2vw;
  border: solid rgba(255, 255, 255, 0.5) 2px;
  border-radius: 5px;
  margin: 1vw;
  background-color: #0f0f11a9;
  min-width: 10vw;
}

.navbar-brand {
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  text-shadow: 1px 1px #000000;
}

.resName {
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px #000000;
}

.nav-link {
  text-shadow: 1px 1px #000000;
}

@media all and (max-width: 700px) {
  .side-bar {
    max-width: 100vw;
    min-height: 1vh;
    border-right: none;
    border-bottom: solid rgba(0, 0, 0, 0.75) 2px;
  }
  .respond {
    flex-direction: column;
  }
  .respondUL {
    flex-direction: row !important;
  }
  .nav-link {
    padding: 1vw !important;
  }
}

@media all and (max-width: 610px) {
  .side-bar {
    font-size: smaller;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media all and (max-width: 370px) {
  .side-bar {
    font-size: 12px;
  }
}